## Load data using CSV

In [14]:
import pandas as pd
df = pd.read_csv(r'\Data\daily-total-female-births-CA.csv')
df.head(5)

# sep can be like ; |

         date  births
0  1959-01-01      35
1  1959-01-02      32
2  1959-01-03      30
3  1959-01-04      31
4  1959-01-05      44

## Load data using EXCEL

In [2]:
import pandas as pd
dfExcel = pd.read_excel(r'\Data\istambul_stock_exchange.xlsx', sheet_name = 'Data')
dfExcel.head(5)

,date,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802

## Load data using JSON

In [3]:
dfJson = pd.read_json(r'\Data\test.json')
dfJson.head(5)

   Names  Age
0   John   33
1    Sal   45
2    Tim   22
3    Rod   54

## Load Data using URL

In [169]:
dfURL = pd.read_csv(r'https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data', names =['Sex',
                           'Length','Diameter', 'Height','Whole weight', 'Shucked weight','Viscera weight', 'Shell weight', 'Rings'])
dfURL.head(5)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

## Common operations between pandas and pandasql

## Selecting top 5

In [32]:
import pandas as pd
dfp = pd.read_excel(r'\Data\Absenteeism_at_work.xls')
dfp.head(5)

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2

In [33]:
from pandasql import sqldf
dfpsql = pd.read_excel(r'\Data\Absenteeism_at_work.xls')

Query_string = """ select * from dfpsql limit 5 """
sqldf(Query_string, globals())

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2

## Applying Filter

In [43]:
dfp[(dfp['Age'] >=30) & (dfp['Age'] <=45)]

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
7,20,23,7,6,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,239554,...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,239554,...,0,3,1,0,0,1,88,172,29,8
10,20,1,7,2,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
11,20,1,7,3,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
12,20,11,7,4,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
13,3,11,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,1
14,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,4
15,24,14,7,6,1,246,25,16,41,239554,...,0,1,0,1,0,0,67,170,23,8
16,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
17,3,21,7,2,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,8
18,6,11,7,5,1,189,29,13,33,239554,...,0,1,2,0,0,2,69,167,25,8
21,3,11,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,1
23,20,28,8,6,1,260,50,11,36,205917,...,0,1,4,1,0,0,65,168,23,4
24,11,18,8,2,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
26,11,23,8,3,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,1
28,11,18,8,4,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
29,3,23,8,6,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,2
30,3,18,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,8
32,1,23,8,5,1,235,11,14,37,205917,...,0,3,1,0,0,1,88,172,29,4
34,3,23,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,2
36,11,24,8,3,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
37,19,11,8,5,1,291,50,12,32,205917,...,0,1,0,1,0,0,65,169,23,4
39,20,23,8,6,1,260,50,11,36,205917,...,0,1,4,1,0,0,65,168,23,4
41,34,23,9,2,1,118,10,10,37,241476,...,0,1,0,0,0,0,83,172,28,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
700,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
702,14,23,5,4,3,155,12,14,34,237656,...,0,1,2,1,0,0,95,196,25,2
703,17,25,5,6,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,8
704,14,10,5,6,3,155,12,14,34,237656,...,0,1,2,1,0,0,95,196,25,8
707,22,27,6,4,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
708,34,26,6,6,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
709,34,10,6,4,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
710,23,22,6,5,3,378,49,11,36,275089,...,0,1,2,0,1,4,65,174,21,8
712,12,19,6,6,3,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
713,22,27,6,6,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
715,21,0,6,2,3,268,11,8,33,275089,...,1,2,0,0,0,0,79,178,25,0
717,22,13,6,5,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
718,15,28,6,5,3,291,31,12,40,275089,...,0,1,1,1,0,1,73,171,25,2
719,22,13,6,2,1,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
720,34,25,6,2,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
721,12,22,6,5,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
722,34,8,6,6,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,2
723,34,10,6,4,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
724,12,22,6,4,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,3
725,5,26,7,4,1,235,20,13,43,264604,...,0,1,1,1,0,0,106,167,38,4
726,12,19,7,6,1,233,51,1,31,264604,...,0,2,1,1,0,8,68,178,21,2
728,34,28,7,2,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,4
730,6,22,7,3,1,189,29,13,33,264604,...,0,1,2,0,0,2,69,167,25,16
731,34,23,7,4,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,2
734,13,13,7,2,1,369,17,12,31,264604,...,0,1,3,1,0,0,70,169,25,80
735,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0

In [44]:
Query_string = """ select * from dfpsql where age>=30 and age<=45 """
sqldf(Query_string, globals())

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
2,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
3,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
4,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
5,20,23,7,6,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,4
6,14,19,7,2,1,155,12,14,34,239554,...,0,1,2,1,0,0,95,196,25,40
7,1,22,7,2,1,235,11,14,37,239554,...,0,3,1,0,0,1,88,172,29,8
8,20,1,7,2,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
9,20,1,7,3,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
10,20,11,7,4,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
11,3,11,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,1
12,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,4
13,24,14,7,6,1,246,25,16,41,239554,...,0,1,0,1,0,0,67,170,23,8
14,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
15,3,21,7,2,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,8
16,6,11,7,5,1,189,29,13,33,239554,...,0,1,2,0,0,2,69,167,25,8
17,3,11,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,1
18,20,28,8,6,1,260,50,11,36,205917,...,0,1,4,1,0,0,65,168,23,4
19,11,18,8,2,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
20,11,23,8,3,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,1
21,11,18,8,4,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
22,3,23,8,6,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,2
23,3,18,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,8
24,1,23,8,5,1,235,11,14,37,205917,...,0,3,1,0,0,1,88,172,29,4
25,3,23,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,2
26,11,24,8,3,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
27,19,11,8,5,1,291,50,12,32,205917,...,0,1,0,1,0,0,65,169,23,4
28,20,23,8,6,1,260,50,11,36,205917,...,0,1,4,1,0,0,65,168,23,4
29,34,23,9,2,1,118,10,10,37,241476,...,0,1,0,0,0,0,83,172,28,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
497,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
498,14,23,5,4,3,155,12,14,34,237656,...,0,1,2,1,0,0,95,196,25,2
499,17,25,5,6,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,8
500,14,10,5,6,3,155,12,14,34,237656,...,0,1,2,1,0,0,95,196,25,8
501,22,27,6,4,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
502,34,26,6,6,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
503,34,10,6,4,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
504,23,22,6,5,3,378,49,11,36,275089,...,0,1,2,0,1,4,65,174,21,8
505,12,19,6,6,3,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
506,22,27,6,6,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
507,21,0,6,2,3,268,11,8,33,275089,...,1,2,0,0,0,0,79,178,25,0
508,22,13,6,5,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
509,15,28,6,5,3,291,31,12,40,275089,...,0,1,1,1,0,1,73,171,25,2
510,22,13,6,2,1,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
511,34,25,6,2,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
512,12,22,6,5,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
513,34,8,6,6,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,2
514,34,10,6,4,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
515,12,22,6,4,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,3
516,5,26,7,4,1,235,20,13,43,264604,...,0,1,1,1,0,0,106,167,38,4
517,12,19,7,6,1,233,51,1,31,264604,...,0,2,1,1,0,8,68,178,21,2
518,34,28,7,2,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,4
519,6,22,7,3,1,189,29,13,33,264604,...,0,1,2,0,0,2,69,167,25,16
520,34,23,7,4,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,2
521,13,13,7,2,1,369,17,12,31,264604,...,0,1,3,1,0,0,70,169,25,80
522,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
523,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
524,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
525,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0

## Distince(Unique)

In [47]:
dfp['ID'].unique()

array([11, 36,  3,  7, 10, 20, 14,  1, 24,  6, 33, 18, 30,  2, 19, 27, 34,
        5, 15, 29, 28, 13, 22, 17, 31, 23, 32,  9, 26, 21,  8, 25, 12, 16,
        4, 35], dtype=int64)

In [49]:
Query_string = """ select distinct ID from dfpsql;"""
sqldf(Query_string, globals())

    ID
0   11
1   36
2    3
3    7
4   10
5   20
6   14
7    1
8   24
9    6
10  33
11  18
12  30
13   2
14  19
15  27
16  34
17   5
18  15
19  29
20  28
21  13
22  22
23  17
24  31
25  23
26  32
27   9
28  26
29  21
30   8
31  25
32  12
33  16
34   4
35  35

## IN & NOT IN

In [66]:

dfp[dfp.Age.isin([20,30,40])]

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
47,15,23,9,5,1,291,31,12,40,241476,...,0,1,1,1,0,1,73,171,25,4
49,15,14,9,2,4,291,31,12,40,241476,...,0,1,1,1,0,1,73,171,25,32
65,22,23,10,5,4,179,26,9,30,253465,...,0,3,0,0,0,0,56,171,19,1
71,15,23,10,5,4,291,31,12,40,253465,...,0,1,1,1,0,1,73,171,25,5
75,15,14,10,3,4,291,31,12,40,253465,...,0,1,1,1,0,1,73,171,25,8
83,17,21,11,5,4,179,22,17,40,306345,...,0,2,2,0,1,0,63,170,22,8
84,15,23,11,5,4,291,31,12,40,306345,...,0,1,1,1,0,1,73,171,25,5
87,15,14,11,2,4,291,31,12,40,306345,...,0,1,1,1,0,1,73,171,25,40
91,17,21,11,4,4,179,22,17,40,306345,...,0,2,2,0,1,0,63,170,22,8
97,15,23,11,5,4,291,31,12,40,306345,...,0,1,1,1,0,1,73,171,25,3
129,22,18,1,3,2,179,26,9,30,308593,...,0,3,0,0,0,0,56,171,19,8
148,22,23,2,3,2,179,26,9,30,302585,...,0,3,0,0,0,0,56,171,19,1
158,17,17,3,3,2,179,22,17,40,343253,...,0,2,2,0,1,0,63,170,22,8
159,15,22,3,4,2,291,31,12,40,343253,...,0,1,1,1,0,1,73,171,25,8
161,22,13,3,5,2,179,26,9,30,343253,...,0,3,0,0,0,0,56,171,19,8
164,17,11,3,2,2,179,22,17,40,343253,...,0,2,2,0,1,0,63,170,22,40
169,17,8,3,5,2,179,22,17,40,343253,...,0,2,2,0,1,0,63,170,22,8
176,22,13,3,2,3,179,26,9,30,343253,...,0,3,0,0,0,0,56,171,19,1
184,15,28,4,4,3,291,31,12,40,326452,...,0,1,1,1,0,1,73,171,25,1
193,15,23,4,6,3,291,31,12,40,326452,...,0,1,1,1,0,1,73,171,25,3
195,15,28,4,6,3,291,31,12,40,326452,...,0,1,1,1,0,1,73,171,25,1
223,15,23,6,5,3,291,31,12,40,377550,...,0,1,1,1,0,1,73,171,25,4
241,22,18,7,5,1,179,26,9,30,275312,...,0,3,0,0,0,0,56,171,19,8
262,22,23,8,5,1,179,26,9,30,265615,...,0,3,0,0,0,0,56,171,19,1
275,15,28,9,3,1,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,3
281,15,28,9,6,1,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,4
286,15,28,9,6,4,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,3
287,15,7,9,2,4,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,40
295,22,1,10,2,4,179,26,9,30,265017,...,0,3,0,0,0,0,56,171,19,8
299,22,1,10,4,4,179,26,9,30,265017,...,0,3,0,0,0,0,56,171,19,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,22,27,1,4,2,179,26,9,30,313532,...,0,3,0,0,0,0,56,171,19,2
591,22,27,2,5,2,179,26,9,30,264249,...,0,3,0,0,0,0,56,171,19,2
600,22,13,2,5,2,179,26,9,30,264249,...,0,3,0,0,0,0,56,171,19,2
601,17,23,2,6,2,179,22,17,40,264249,...,0,2,2,0,1,0,63,170,22,2
604,22,27,2,4,2,179,26,9,30,264249,...,0,3,0,0,0,0,56,171,19,2
627,22,27,3,6,2,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,3
633,22,27,3,6,2,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,2
644,22,23,3,6,2,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,2
651,22,13,3,2,3,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,2
659,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
661,17,16,4,3,3,179,22,17,40,246288,...,0,2,2,0,1,0,63,170,22,2
666,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
669,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
673,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
679,22,13,5,5,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,1
680,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
684,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
689,22,27,5,4,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
691,17,16,5,6,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,1
694,15,22,5,4,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,8
695,17,10,5,4,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,8
699,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
700,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
703,17,25,5,6,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,8
707,22,27,6,4,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
713,22,27,6,6,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
717,22,13,6,5,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
718,15,28,6,5,3,291,31,12,40,275089,...,0,1,1,1,0,1,73,171,25,2
719,22,13,6,2,1,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0

In [68]:
Query_string = """ select * from dfpsql where Age in(20,30,40);"""
sqldf(Query_string, globals())

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,15,23,9,5,1,291,31,12,40,241476,...,0,1,1,1,0,1,73,171,25,4
1,15,14,9,2,4,291,31,12,40,241476,...,0,1,1,1,0,1,73,171,25,32
2,22,23,10,5,4,179,26,9,30,253465,...,0,3,0,0,0,0,56,171,19,1
3,15,23,10,5,4,291,31,12,40,253465,...,0,1,1,1,0,1,73,171,25,5
4,15,14,10,3,4,291,31,12,40,253465,...,0,1,1,1,0,1,73,171,25,8
5,17,21,11,5,4,179,22,17,40,306345,...,0,2,2,0,1,0,63,170,22,8
6,15,23,11,5,4,291,31,12,40,306345,...,0,1,1,1,0,1,73,171,25,5
7,15,14,11,2,4,291,31,12,40,306345,...,0,1,1,1,0,1,73,171,25,40
8,17,21,11,4,4,179,22,17,40,306345,...,0,2,2,0,1,0,63,170,22,8
9,15,23,11,5,4,291,31,12,40,306345,...,0,1,1,1,0,1,73,171,25,3
10,22,18,1,3,2,179,26,9,30,308593,...,0,3,0,0,0,0,56,171,19,8
11,22,23,2,3,2,179,26,9,30,302585,...,0,3,0,0,0,0,56,171,19,1
12,17,17,3,3,2,179,22,17,40,343253,...,0,2,2,0,1,0,63,170,22,8
13,15,22,3,4,2,291,31,12,40,343253,...,0,1,1,1,0,1,73,171,25,8
14,22,13,3,5,2,179,26,9,30,343253,...,0,3,0,0,0,0,56,171,19,8
15,17,11,3,2,2,179,22,17,40,343253,...,0,2,2,0,1,0,63,170,22,40
16,17,8,3,5,2,179,22,17,40,343253,...,0,2,2,0,1,0,63,170,22,8
17,22,13,3,2,3,179,26,9,30,343253,...,0,3,0,0,0,0,56,171,19,1
18,15,28,4,4,3,291,31,12,40,326452,...,0,1,1,1,0,1,73,171,25,1
19,15,23,4,6,3,291,31,12,40,326452,...,0,1,1,1,0,1,73,171,25,3
20,15,28,4,6,3,291,31,12,40,326452,...,0,1,1,1,0,1,73,171,25,1
21,15,23,6,5,3,291,31,12,40,377550,...,0,1,1,1,0,1,73,171,25,4
22,22,18,7,5,1,179,26,9,30,275312,...,0,3,0,0,0,0,56,171,19,8
23,22,23,8,5,1,179,26,9,30,265615,...,0,3,0,0,0,0,56,171,19,1
24,15,28,9,3,1,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,3
25,15,28,9,6,1,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,4
26,15,28,9,6,4,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,3
27,15,7,9,2,4,291,31,12,40,294217,...,0,1,1,1,0,1,73,171,25,40
28,22,1,10,2,4,179,26,9,30,265017,...,0,3,0,0,0,0,56,171,19,8
29,22,1,10,4,4,179,26,9,30,265017,...,0,3,0,0,0,0,56,171,19,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,22,27,1,4,2,179,26,9,30,313532,...,0,3,0,0,0,0,56,171,19,2
75,22,27,2,5,2,179,26,9,30,264249,...,0,3,0,0,0,0,56,171,19,2
76,22,13,2,5,2,179,26,9,30,264249,...,0,3,0,0,0,0,56,171,19,2
77,17,23,2,6,2,179,22,17,40,264249,...,0,2,2,0,1,0,63,170,22,2
78,22,27,2,4,2,179,26,9,30,264249,...,0,3,0,0,0,0,56,171,19,2
79,22,27,3,6,2,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,3
80,22,27,3,6,2,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,2
81,22,23,3,6,2,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,2
82,22,13,3,2,3,179,26,9,30,222196,...,0,3,0,0,0,0,56,171,19,2
83,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
84,17,16,4,3,3,179,22,17,40,246288,...,0,2,2,0,1,0,63,170,22,2
85,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
86,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
87,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
88,22,13,5,5,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,1
89,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
90,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
91,22,27,5,4,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
92,17,16,5,6,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,1
93,15,22,5,4,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,8
94,17,10,5,4,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,8
95,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
96,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
97,17,25,5,6,3,179,22,17,40,237656,...,0,2,2,0,1,0,63,170,22,8
98,22,27,6,4,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
99,22,27,6,6,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
100,22,13,6,5,3,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,2
101,15,28,6,5,3,291,31,12,40,275089,...,0,1,1,1,0,1,73,171,25,2
102,22,13,6,2,1,179,26,9,30,275089,...,0,3,0,0,0,0,56,171,19,3
103,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0

In [69]:

dfp[~dfp.Age.isin([20,30,40])]

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
6,10,22,7,6,1,361,52,3,28,239554,...,0,1,1,1,0,4,80,172,27,8
7,20,23,7,6,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,239554,...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,239554,...,0,3,1,0,0,1,88,172,29,8
10,20,1,7,2,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
11,20,1,7,3,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
12,20,11,7,4,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
13,3,11,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,1
14,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,4
15,24,14,7,6,1,246,25,16,41,239554,...,0,1,0,1,0,0,67,170,23,8
16,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
17,3,21,7,2,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,8
18,6,11,7,5,1,189,29,13,33,239554,...,0,1,2,0,0,2,69,167,25,8
19,33,23,8,4,1,248,25,14,47,205917,...,0,1,2,0,0,1,86,165,32,2
20,18,10,8,4,1,330,16,4,28,205917,...,0,2,0,0,0,0,84,182,25,8
21,3,11,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,1
22,10,13,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,40
23,20,28,8,6,1,260,50,11,36,205917,...,0,1,4,1,0,0,65,168,23,4
24,11,18,8,2,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
25,10,25,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,7
26,11,23,8,3,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,1
27,30,28,8,4,1,157,27,6,29,205917,...,0,1,0,1,1,0,75,185,22,4
28,11,18,8,4,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
29,3,23,8,6,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704,14,10,5,6,3,155,12,14,34,237656,...,0,1,2,1,0,0,95,196,25,8
705,28,11,5,2,3,225,26,9,28,237656,...,0,1,1,0,0,2,69,169,24,1
706,16,7,6,4,3,118,15,24,46,275089,...,0,1,2,1,1,0,75,175,25,8
708,34,26,6,6,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
709,34,10,6,4,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
710,23,22,6,5,3,378,49,11,36,275089,...,0,1,2,0,1,4,65,174,21,8
711,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,24
712,12,19,6,6,3,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
714,2,0,6,2,3,235,29,12,48,275089,...,1,1,1,0,1,5,88,163,33,0
715,21,0,6,2,3,268,11,8,33,275089,...,1,2,0,0,0,0,79,178,25,0
716,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,3
720,34,25,6,2,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
721,12,22,6,5,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
722,34,8,6,6,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,2
723,34,10,6,4,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
724,12,22,6,4,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,3
725,5,26,7,4,1,235,20,13,43,264604,...,0,1,1,1,0,0,106,167,38,4
726,12,19,7,6,1,233,51,1,31,264604,...,0,2,1,1,0,8,68,178,21,2
727,9,6,7,2,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,8
728,34,28,7,2,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,4
729,9,6,7,3,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,120
730,6,22,7,3,1,189,29,13,33,264604,...,0,1,2,0,0,2,69,167,25,16
731,34,23,7,4,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,2
732,10,22,7,4,1,361,52,3,28,264604,...,0,1,1,1,0,4,80,172,27,8
733,28,22,7,4,1,225,26,9,28,264604,...,0,1,1,0,0,2,69,169,24,8
734,13,13,7,2,1,369,17,12,31,264604,...,0,1,3,1,0,0,70,169,25,80
735,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

In [70]:
Query_string = """ select * from dfpsql where Age not in(20,30,40);"""
sqldf(Query_string, globals())

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
6,10,22,7,6,1,361,52,3,28,239554,...,0,1,1,1,0,4,80,172,27,8
7,20,23,7,6,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,239554,...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,239554,...,0,3,1,0,0,1,88,172,29,8
10,20,1,7,2,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
11,20,1,7,3,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
12,20,11,7,4,1,260,50,11,36,239554,...,0,1,4,1,0,0,65,168,23,8
13,3,11,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,1
14,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,4
15,24,14,7,6,1,246,25,16,41,239554,...,0,1,0,1,0,0,67,170,23,8
16,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
17,3,21,7,2,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,8
18,6,11,7,5,1,189,29,13,33,239554,...,0,1,2,0,0,2,69,167,25,8
19,33,23,8,4,1,248,25,14,47,205917,...,0,1,2,0,0,1,86,165,32,2
20,18,10,8,4,1,330,16,4,28,205917,...,0,2,0,0,0,0,84,182,25,8
21,3,11,8,2,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,1
22,10,13,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,40
23,20,28,8,6,1,260,50,11,36,205917,...,0,1,4,1,0,0,65,168,23,4
24,11,18,8,2,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
25,10,25,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,7
26,11,23,8,3,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,1
27,30,28,8,4,1,157,27,6,29,205917,...,0,1,0,1,1,0,75,185,22,4
28,11,18,8,4,1,289,36,13,33,205917,...,0,1,2,1,0,1,90,172,30,8
29,3,23,8,6,1,179,51,18,38,205917,...,0,1,0,1,0,0,89,170,31,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,14,10,5,6,3,155,12,14,34,237656,...,0,1,2,1,0,0,95,196,25,8
607,28,11,5,2,3,225,26,9,28,237656,...,0,1,1,0,0,2,69,169,24,1
608,16,7,6,4,3,118,15,24,46,275089,...,0,1,2,1,1,0,75,175,25,8
609,34,26,6,6,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
610,34,10,6,4,3,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,8
611,23,22,6,5,3,378,49,11,36,275089,...,0,1,2,0,1,4,65,174,21,8
612,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,24
613,12,19,6,6,3,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
614,2,0,6,2,3,235,29,12,48,275089,...,1,1,1,0,1,5,88,163,33,0
615,21,0,6,2,3,268,11,8,33,275089,...,1,2,0,0,0,0,79,178,25,0
616,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,3
617,34,25,6,2,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
618,12,22,6,5,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,8
619,34,8,6,6,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,2
620,34,10,6,4,1,118,10,10,37,275089,...,0,1,0,0,0,0,83,172,28,3
621,12,22,6,4,1,233,51,1,31,275089,...,0,2,1,1,0,8,68,178,21,3
622,5,26,7,4,1,235,20,13,43,264604,...,0,1,1,1,0,0,106,167,38,4
623,12,19,7,6,1,233,51,1,31,264604,...,0,2,1,1,0,8,68,178,21,2
624,9,6,7,2,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,8
625,34,28,7,2,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,4
626,9,6,7,3,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,120
627,6,22,7,3,1,189,29,13,33,264604,...,0,1,2,0,0,2,69,167,25,16
628,34,23,7,4,1,118,10,10,37,264604,...,0,1,0,0,0,0,83,172,28,2
629,10,22,7,4,1,361,52,3,28,264604,...,0,1,1,1,0,4,80,172,27,8
630,28,22,7,4,1,225,26,9,28,264604,...,0,1,1,0,0,2,69,169,24,8
631,13,13,7,2,1,369,17,12,31,264604,...,0,1,3,1,0,0,70,169,25,80
632,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
633,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
634,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
635,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

## Order by

In [71]:
dfp.sort_values(by = ['Age','Service_time'], ascending= True)

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
40,27,23,9,3,1,184,42,7,27,241476,...,0,1,0,0,0,0,58,167,21,2
118,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
132,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
137,27,23,2,6,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,1
149,27,23,2,3,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,8
209,27,7,5,4,3,184,42,7,27,378884,...,0,1,0,0,0,0,58,167,21,4
269,27,6,8,4,1,184,42,7,27,265615,...,0,1,0,0,0,0,58,167,21,8
6,10,22,7,6,1,361,52,3,28,239554,...,0,1,1,1,0,4,80,172,27,8
22,10,13,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,40
25,10,25,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,7
35,10,23,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,1
78,10,23,10,6,4,361,52,3,28,253465,...,0,1,1,1,0,4,80,172,27,1
105,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
109,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
219,10,22,5,6,3,361,52,3,28,378884,...,0,1,1,1,0,4,80,172,27,8
221,10,22,6,2,3,361,52,3,28,377550,...,0,1,1,1,0,4,80,172,27,8
246,10,22,7,3,1,361,52,3,28,275312,...,0,1,1,1,0,4,80,172,27,8
268,10,8,8,3,1,361,52,3,28,265615,...,0,1,1,1,0,4,80,172,27,8
310,10,10,10,2,4,361,52,3,28,265017,...,0,1,1,1,0,4,80,172,27,8
399,10,22,3,4,2,361,52,3,28,244387,...,0,1,1,1,0,4,80,172,27,8
430,10,23,5,5,3,361,52,3,28,246074,...,0,1,1,1,0,4,80,172,27,1
474,10,22,7,6,1,361,52,3,28,230290,...,0,1,1,1,0,4,80,172,27,8
506,10,22,9,3,4,361,52,3,28,261756,...,0,1,1,1,0,4,80,172,27,8
540,10,22,11,3,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,8
554,10,28,11,2,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,2
561,10,14,12,5,4,361,52,3,28,280549,...,0,1,1,1,0,4,80,172,27,4
629,10,19,3,2,2,361,52,3,28,222196,...,0,1,1,1,0,4,80,172,27,8
656,10,19,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,8
663,10,23,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,2
701,10,7,5,2,3,361,52,3,28,237656,...,0,1,1,1,0,4,80,172,27,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,36,0,10,6,4,118,13,18,50,265017,...,1,1,1,1,0,0,98,178,31,0
306,36,28,10,3,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
309,36,28,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
316,36,23,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
343,36,28,12,3,4,118,13,18,50,236629,...,0,1,1,1,0,0,98,178,31,1
366,36,26,1,2,2,118,13,18,50,330061,...,0,1,1,1,0,0,98,178,31,4
402,36,23,3,6,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,2
403,36,14,3,3,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,3
404,36,13,3,4,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,8
407,36,0,3,5,3,118,13,18,50,244387,...,1,1,1,1,0,0,98,178,31,0
419,36,23,4,2,3,118,13,18,50,239409,...,0,1,1,1,0,0,98,178,31,1
420,36,13,4,4,3,118,13,18,50,239409,...,0,1,1,1,0,0,98,178,31,120
454,36,23,6,4,1,118,13,18,50,253957,...,0,1,1,1,0,0,98,178,31,2
473,36,23,7,6,1,118,13,18,50,230290,...,0,1,1,1,0,0,98,178,31,1
662,36,23,4,3,3,118,13,18,50,246288,...,0,1,1,1,0,0,98,178,31,3
672,36,14,4,5,3,118,13,18,50,246288,...,0,1,1,1,0,0,98,178,31,2
685,36,23,5,2,3,118,13,18,50,237656,...,0,1,1,1,0,0,98,178,31,2
686,36,5,5,3,3,118,13,18,50,237656,...,0,1,1,1,0,0,98,178,31,3
688,36,0,5,3,3,118,13,18,50,237656,...,1,1,1,1,0,0,98,178,31,0
711,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,24
716,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,3
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0
255,9,18,8,3,1,228,14,16,58,265615,...,0,1,2,0,0,1,65,172,22,8
434,9,18,5,4,3,228,14,16,58,246074,...,0,1,2,0,0,1,65,172,22,8
521,9,1,10,4,4,228,14,16,58,284853,...,0,1,2,0,0,1,65,172,22,1
620,9,25,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,3
622,9,12,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,112
640,9,25,3,4,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,2
727,9,6,7,2,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,8
729,9,6,7,3,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,120

In [72]:
Query_string = """ select * from dfpsql order by Age,Service_time;"""
sqldf(Query_string, globals())

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,27,23,9,3,1,184,42,7,27,241476,...,0,1,0,0,0,0,58,167,21,2
1,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
2,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
3,27,23,2,6,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,1
4,27,23,2,3,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,8
5,27,7,5,4,3,184,42,7,27,378884,...,0,1,0,0,0,0,58,167,21,4
6,27,6,8,4,1,184,42,7,27,265615,...,0,1,0,0,0,0,58,167,21,8
7,10,22,7,6,1,361,52,3,28,239554,...,0,1,1,1,0,4,80,172,27,8
8,10,13,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,40
9,10,25,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,7
10,10,23,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,1
11,10,23,10,6,4,361,52,3,28,253465,...,0,1,1,1,0,4,80,172,27,1
12,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
13,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
14,10,22,5,6,3,361,52,3,28,378884,...,0,1,1,1,0,4,80,172,27,8
15,10,22,6,2,3,361,52,3,28,377550,...,0,1,1,1,0,4,80,172,27,8
16,10,22,7,3,1,361,52,3,28,275312,...,0,1,1,1,0,4,80,172,27,8
17,10,8,8,3,1,361,52,3,28,265615,...,0,1,1,1,0,4,80,172,27,8
18,10,10,10,2,4,361,52,3,28,265017,...,0,1,1,1,0,4,80,172,27,8
19,10,22,3,4,2,361,52,3,28,244387,...,0,1,1,1,0,4,80,172,27,8
20,10,23,5,5,3,361,52,3,28,246074,...,0,1,1,1,0,4,80,172,27,1
21,10,22,7,6,1,361,52,3,28,230290,...,0,1,1,1,0,4,80,172,27,8
22,10,22,9,3,4,361,52,3,28,261756,...,0,1,1,1,0,4,80,172,27,8
23,10,22,11,3,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,8
24,10,28,11,2,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,2
25,10,14,12,5,4,361,52,3,28,280549,...,0,1,1,1,0,4,80,172,27,4
26,10,19,3,2,2,361,52,3,28,222196,...,0,1,1,1,0,4,80,172,27,8
27,10,19,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,8
28,10,23,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,2
29,10,7,5,2,3,361,52,3,28,237656,...,0,1,1,1,0,4,80,172,27,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,36,0,10,6,4,118,13,18,50,265017,...,1,1,1,1,0,0,98,178,31,0
711,36,28,10,3,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
712,36,28,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
713,36,23,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
714,36,28,12,3,4,118,13,18,50,236629,...,0,1,1,1,0,0,98,178,31,1
715,36,26,1,2,2,118,13,18,50,330061,...,0,1,1,1,0,0,98,178,31,4
716,36,23,3,6,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,2
717,36,14,3,3,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,3
718,36,13,3,4,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,8
719,36,0,3,5,3,118,13,18,50,244387,...,1,1,1,1,0,0,98,178,31,0
720,36,23,4,2,3,118,13,18,50,239409,...,0,1,1,1,0,0,98,178,31,1
721,36,13,4,4,3,118,13,18,50,239409,...,0,1,1,1,0,0,98,178,31,120
722,36,23,6,4,1,118,13,18,50,253957,...,0,1,1,1,0,0,98,178,31,2
723,36,23,7,6,1,118,13,18,50,230290,...,0,1,1,1,0,0,98,178,31,1
724,36,23,4,3,3,118,13,18,50,246288,...,0,1,1,1,0,0,98,178,31,3
725,36,14,4,5,3,118,13,18,50,246288,...,0,1,1,1,0,0,98,178,31,2
726,36,23,5,2,3,118,13,18,50,237656,...,0,1,1,1,0,0,98,178,31,2
727,36,5,5,3,3,118,13,18,50,237656,...,0,1,1,1,0,0,98,178,31,3
728,36,0,5,3,3,118,13,18,50,237656,...,1,1,1,1,0,0,98,178,31,0
729,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,24
730,36,19,6,5,3,118,13,18,50,275089,...,0,1,1,1,0,0,98,178,31,3
731,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0
732,9,18,8,3,1,228,14,16,58,265615,...,0,1,2,0,0,1,65,172,22,8
733,9,18,5,4,3,228,14,16,58,246074,...,0,1,2,0,0,1,65,172,22,8
734,9,1,10,4,4,228,14,16,58,284853,...,0,1,2,0,0,1,65,172,22,1
735,9,25,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,3
736,9,12,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,112
737,9,25,3,4,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,2
738,9,6,7,2,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,8
739,9,6,7,3,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,120

In [73]:
#Desending
dfp.sort_values(by = ['Age','Service_time'], ascending= False)

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
255,9,18,8,3,1,228,14,16,58,265615,...,0,1,2,0,0,1,65,172,22,8
434,9,18,5,4,3,228,14,16,58,246074,...,0,1,2,0,0,1,65,172,22,8
521,9,1,10,4,4,228,14,16,58,284853,...,0,1,2,0,0,1,65,172,22,1
620,9,25,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,3
622,9,12,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,112
640,9,25,3,4,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,2
727,9,6,7,2,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,8
729,9,6,7,3,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,120
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
55,36,0,9,3,4,118,13,18,50,241476,...,1,1,1,1,0,0,98,178,31,0
64,36,0,10,4,4,118,13,18,50,253465,...,1,1,1,1,0,0,98,178,31,0
100,36,23,12,4,4,118,13,18,50,261306,...,0,1,1,1,0,0,98,178,31,2
192,36,23,4,5,3,118,13,18,50,326452,...,0,1,1,1,0,0,98,178,31,1
218,36,13,5,4,3,118,13,18,50,378884,...,0,1,1,1,0,0,98,178,31,24
228,36,13,6,4,3,118,13,18,50,377550,...,0,1,1,1,0,0,98,178,31,8
230,36,23,6,3,3,118,13,18,50,377550,...,0,1,1,1,0,0,98,178,31,1
231,36,13,6,4,3,118,13,18,50,377550,...,0,1,1,1,0,0,98,178,31,80
237,36,1,7,4,1,118,13,18,50,275312,...,0,1,1,1,0,0,98,178,31,8
263,36,13,8,5,1,118,13,18,50,265615,...,0,1,1,1,0,0,98,178,31,3
266,36,23,8,5,1,118,13,18,50,265615,...,0,1,1,1,0,0,98,178,31,1
284,36,28,9,5,4,118,13,18,50,294217,...,0,1,1,1,0,0,98,178,31,1
293,36,0,10,6,4,118,13,18,50,265017,...,1,1,1,1,0,0,98,178,31,0
306,36,28,10,3,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
309,36,28,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
316,36,23,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
343,36,28,12,3,4,118,13,18,50,236629,...,0,1,1,1,0,0,98,178,31,1
366,36,26,1,2,2,118,13,18,50,330061,...,0,1,1,1,0,0,98,178,31,4
402,36,23,3,6,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,2
403,36,14,3,3,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,10,13,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,40
25,10,25,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,7
35,10,23,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,1
78,10,23,10,6,4,361,52,3,28,253465,...,0,1,1,1,0,4,80,172,27,1
105,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
109,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
219,10,22,5,6,3,361,52,3,28,378884,...,0,1,1,1,0,4,80,172,27,8
221,10,22,6,2,3,361,52,3,28,377550,...,0,1,1,1,0,4,80,172,27,8
246,10,22,7,3,1,361,52,3,28,275312,...,0,1,1,1,0,4,80,172,27,8
268,10,8,8,3,1,361,52,3,28,265615,...,0,1,1,1,0,4,80,172,27,8
310,10,10,10,2,4,361,52,3,28,265017,...,0,1,1,1,0,4,80,172,27,8
399,10,22,3,4,2,361,52,3,28,244387,...,0,1,1,1,0,4,80,172,27,8
430,10,23,5,5,3,361,52,3,28,246074,...,0,1,1,1,0,4,80,172,27,1
474,10,22,7,6,1,361,52,3,28,230290,...,0,1,1,1,0,4,80,172,27,8
506,10,22,9,3,4,361,52,3,28,261756,...,0,1,1,1,0,4,80,172,27,8
540,10,22,11,3,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,8
554,10,28,11,2,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,2
561,10,14,12,5,4,361,52,3,28,280549,...,0,1,1,1,0,4,80,172,27,4
629,10,19,3,2,2,361,52,3,28,222196,...,0,1,1,1,0,4,80,172,27,8
656,10,19,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,8
663,10,23,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,2
701,10,7,5,2,3,361,52,3,28,237656,...,0,1,1,1,0,4,80,172,27,8
732,10,22,7,4,1,361,52,3,28,264604,...,0,1,1,1,0,4,80,172,27,8
40,27,23,9,3,1,184,42,7,27,241476,...,0,1,0,0,0,0,58,167,21,2
118,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
132,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
137,27,23,2,6,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,1
149,27,23,2,3,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,8
209,27,7,5,4,3,184,42,7,27,378884,...,0,1,0,0,0,0,58,167,21,4
269,27,6,8,4,1,184,42,7,27,265615,...,0,1,0,0,0,0,58,167,21,8

In [74]:
Query_string = """ select * from dfpsql order by Age Desc,Service_time Desc;"""
sqldf(Query_string, globals())

,ID,Reason_for_absence,Month_of_absence,Day_of_the_week,Seasons,Transportation_expense,Distance_from_Residence_to_Work,Service_time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social_drinker,Social_smoker,Pet,Weight,Height,Body_mass_index,Absenteeism_time_in_hours
0,9,18,8,3,1,228,14,16,58,265615,...,0,1,2,0,0,1,65,172,22,8
1,9,18,5,4,3,228,14,16,58,246074,...,0,1,2,0,0,1,65,172,22,8
2,9,1,10,4,4,228,14,16,58,284853,...,0,1,2,0,0,1,65,172,22,1
3,9,25,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,3
4,9,12,3,3,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,112
5,9,25,3,4,2,228,14,16,58,222196,...,0,1,2,0,0,1,65,172,22,2
6,9,6,7,2,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,8
7,9,6,7,3,1,228,14,16,58,264604,...,0,1,2,0,0,1,65,172,22,120
8,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0
9,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
10,36,0,9,3,4,118,13,18,50,241476,...,1,1,1,1,0,0,98,178,31,0
11,36,0,10,4,4,118,13,18,50,253465,...,1,1,1,1,0,0,98,178,31,0
12,36,23,12,4,4,118,13,18,50,261306,...,0,1,1,1,0,0,98,178,31,2
13,36,23,4,5,3,118,13,18,50,326452,...,0,1,1,1,0,0,98,178,31,1
14,36,13,5,4,3,118,13,18,50,378884,...,0,1,1,1,0,0,98,178,31,24
15,36,13,6,4,3,118,13,18,50,377550,...,0,1,1,1,0,0,98,178,31,8
16,36,23,6,3,3,118,13,18,50,377550,...,0,1,1,1,0,0,98,178,31,1
17,36,13,6,4,3,118,13,18,50,377550,...,0,1,1,1,0,0,98,178,31,80
18,36,1,7,4,1,118,13,18,50,275312,...,0,1,1,1,0,0,98,178,31,8
19,36,13,8,5,1,118,13,18,50,265615,...,0,1,1,1,0,0,98,178,31,3
20,36,23,8,5,1,118,13,18,50,265615,...,0,1,1,1,0,0,98,178,31,1
21,36,28,9,5,4,118,13,18,50,294217,...,0,1,1,1,0,0,98,178,31,1
22,36,0,10,6,4,118,13,18,50,265017,...,1,1,1,1,0,0,98,178,31,0
23,36,28,10,3,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
24,36,28,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
25,36,23,10,5,4,118,13,18,50,265017,...,0,1,1,1,0,0,98,178,31,1
26,36,28,12,3,4,118,13,18,50,236629,...,0,1,1,1,0,0,98,178,31,1
27,36,26,1,2,2,118,13,18,50,330061,...,0,1,1,1,0,0,98,178,31,4
28,36,23,3,6,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,2
29,36,14,3,3,3,118,13,18,50,244387,...,0,1,1,1,0,0,98,178,31,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,10,13,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,40
711,10,25,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,7
712,10,23,8,2,1,361,52,3,28,205917,...,0,1,1,1,0,4,80,172,27,1
713,10,23,10,6,4,361,52,3,28,253465,...,0,1,1,1,0,4,80,172,27,1
714,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
715,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
716,10,22,5,6,3,361,52,3,28,378884,...,0,1,1,1,0,4,80,172,27,8
717,10,22,6,2,3,361,52,3,28,377550,...,0,1,1,1,0,4,80,172,27,8
718,10,22,7,3,1,361,52,3,28,275312,...,0,1,1,1,0,4,80,172,27,8
719,10,8,8,3,1,361,52,3,28,265615,...,0,1,1,1,0,4,80,172,27,8
720,10,10,10,2,4,361,52,3,28,265017,...,0,1,1,1,0,4,80,172,27,8
721,10,22,3,4,2,361,52,3,28,244387,...,0,1,1,1,0,4,80,172,27,8
722,10,23,5,5,3,361,52,3,28,246074,...,0,1,1,1,0,4,80,172,27,1
723,10,22,7,6,1,361,52,3,28,230290,...,0,1,1,1,0,4,80,172,27,8
724,10,22,9,3,4,361,52,3,28,261756,...,0,1,1,1,0,4,80,172,27,8
725,10,22,11,3,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,8
726,10,28,11,2,4,361,52,3,28,268519,...,0,1,1,1,0,4,80,172,27,2
727,10,14,12,5,4,361,52,3,28,280549,...,0,1,1,1,0,4,80,172,27,4
728,10,19,3,2,2,361,52,3,28,222196,...,0,1,1,1,0,4,80,172,27,8
729,10,19,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,8
730,10,23,4,3,3,361,52,3,28,246288,...,0,1,1,1,0,4,80,172,27,2
731,10,7,5,2,3,361,52,3,28,237656,...,0,1,1,1,0,4,80,172,27,8
732,10,22,7,4,1,361,52,3,28,264604,...,0,1,1,1,0,4,80,172,27,8
733,27,23,9,3,1,184,42,7,27,241476,...,0,1,0,0,0,0,58,167,21,2
734,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
735,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
736,27,23,2,6,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,1
737,27,23,2,3,2,184,42,7,27,302585,...,0,1,0,0,0,0,58,167,21,8
738,27,7,5,4,3,184,42,7,27,378884,...,0,1,0,0,0,0,58,167,21,4
739,27,6,8,4,1,184,42,7,27,265615,...,0,1,0,0,0,0,58,167,21,8

## Aggregration

In [91]:
dfp.agg({'Transportation_expense': ['count','min', 'max', 'mean']})

       Transportation_expense
count               740.00000
min                 118.00000
max                 388.00000
mean                221.32973

In [93]:

Query_string = """ select count(Transportation_expense) as count, min(Transportation_expense) as min, max(Transportation_expense) as max, avg(Transportation_expense) as mean from dfp;"""
sqldf(Query_string, globals())

   count  min  max       mean
0    740  118  388  221.32973

## Group by

In [114]:
dfp.groupby('ID')['Service_time'].sum()

ID
1      322
2       72
3     2034
4       13
5      247
6      104
7       84
8       28
9      128
10      72
11     520
12       7
13     180
14     406
15     444
16      48
17     340
18      64
19      36
20     462
21      24
22     414
23      88
24     480
25      80
26      65
27      49
28     684
29      69
30      42
31      27
32     145
33     336
34     550
35      14
36     612
Name: Service_time, dtype: int64

In [116]:

Query_string = """ select ID , sum(Service_time) as Sum_Service_time from dfp
group by ID;"""
sqldf(Query_string, globals())

    ID  Sum_Service_time
0    1               322
1    2                72
2    3              2034
3    4                13
4    5               247
5    6               104
6    7                84
7    8                28
8    9               128
9   10                72
10  11               520
11  12                 7
12  13               180
13  14               406
14  15               444
15  16                48
16  17               340
17  18                64
18  19                36
19  20               462
20  21                24
21  22               414
22  23                88
23  24               480
24  25                80
25  26                65
26  27                49
27  28               684
28  29                69
29  30                42
30  31                27
31  32               145
32  33               336
33  34               550
34  35                14
35  36               612

## Group by  with Aggregration

In [102]:
dfp.groupby('Reason_for_absence').agg({'Age': ['mean','min','max']})

                          Age
                         mean min max
Reason_for_absence
0                   39.604651  28  53
1                   37.687500  28  58
2                   28.000000  28  28
3                   40.000000  40  40
4                   45.000000  41  49
5                   41.666667  37  50
6                   38.500000  27  58
7                   32.866667  27  46
8                   36.500000  28  40
9                   36.750000  28  41
10                  35.960000  28  49
11                  35.115385  28  50
12                  36.125000  28  58
13                  36.490909  28  50
14                  41.052632  28  50
15                  39.500000  36  43
16                  37.333333  32  40
17                  40.000000  40  40
18                  37.619048  28  58
19                  35.450000  28  50
21                  37.166667  30  40
22                  32.657895  28  41
23                  35.610738  27  50
24                  33.000000  33  33
25                  36.161290  28  58
26                  37.848485  28  50
27                  35.507246  28  38
28                  37.508929  28  50

In [110]:

Query_string = """ select Reason_for_absence , avg(Age) as mean, min(Age) as min, max(Age) as max from dfp
group by Reason_for_absence;"""
sqldf(Query_string, globals())

    Reason_for_absence       mean  min  max
0                    0  39.604651   28   53
1                    1  37.687500   28   58
2                    2  28.000000   28   28
3                    3  40.000000   40   40
4                    4  45.000000   41   49
5                    5  41.666667   37   50
6                    6  38.500000   27   58
7                    7  32.866667   27   46
8                    8  36.500000   28   40
9                    9  36.750000   28   41
10                  10  35.960000   28   49
11                  11  35.115385   28   50
12                  12  36.125000   28   58
13                  13  36.490909   28   50
14                  14  41.052632   28   50
15                  15  39.500000   36   43
16                  16  37.333333   32   40
17                  17  40.000000   40   40
18                  18  37.619048   28   58
19                  19  35.450000   28   50
20                  21  37.166667   30   40
21                  22  32.657895   28   41
22                  23  35.610738   27   50
23                  24  33.000000   33   33
24                  25  36.161290   28   58
25                  26  37.848485   28   50
26                  27  35.507246   28   38
27                  28  37.508929   28   50

## join (merge)

In [141]:
import pandas as pd
data1 = {
        'Empid': [1011, 1012, 1013, 1014, 1015],
        'Name': ['John', 'Rahul', 'Rick', 'Morty', 'Tim'], 
        'Designation': ['Manager', 'Research Engineer', ' Research Engineer', 'VP', 'Delivery Manager'],
        'Date_of_joining': ['01-Jan-2000', '23-sep-2006', '11-Jan-2012', '21-Jan-1991', '12-Jan-1990']}
Emp_df = pd.DataFrame(data1, columns = ['Empid', 'Name', 'Designation','Date_of_joining'])
Emp_df

   Empid   Name         Designation Date_of_joining
0   1011   John             Manager     01-Jan-2000
1   1012  Rahul   Research Engineer     23-sep-2006
2   1013   Rick   Research Engineer     11-Jan-2012
3   1014  Morty                  VP     21-Jan-1991
4   1015    Tim    Delivery Manager     12-Jan-1990

In [142]:
data2 = {
        'Empid': [1011, 1017, 1013, 1019, 1015],
        'Deptartment': ['Management', 'Research', 'Research', 'Management', 'Delivery'], 
        'Total_Experience': [18, 10, 10, 28, 22]}
Dept_df = pd.DataFrame(data2, columns = ['Empid', 'Deptartment', 'Total_Experience'])
Dept_df

   Empid Deptartment  Total_Experience
0   1011  Management                18
1   1017    Research                10
2   1013    Research                10
3   1019  Management                28
4   1015    Delivery                22

In [143]:
# Inner Join
pd.merge(Emp_df, Dept_df, left_on='Empid',right_on='Empid', how='inner')

,Empid,Name,Designation,Date_of_joining,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,Management,18
1,1013,Rick,Research Engineer,11-Jan-2012,Research,10
2,1015,Tim,Delivery Manager,12-Jan-1990,Delivery,22

In [147]:
# Inner Join
Query_string = """ select * from Emp_df a INNER JOIN Dept_df b ON  a.Empid = b.Empid;"""
sqldf(Query_string, globals())

,Empid,Name,Designation,Date_of_joining,Empid,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,1011,Management,18
1,1013,Rick,Research Engineer,11-Jan-2012,1013,Research,10
2,1015,Tim,Delivery Manager,12-Jan-1990,1015,Delivery,22

In [148]:
# Left Join
pd.merge(Emp_df, Dept_df,left_on='Empid',right_on='Empid', how='left')

,Empid,Name,Designation,Date_of_joining,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,Management,18.0
1,1012,Rahul,Research Engineer,23-sep-2006,NaN,NaN
2,1013,Rick,Research Engineer,11-Jan-2012,Research,10.0
3,1014,Morty,VP,21-Jan-1991,NaN,NaN
4,1015,Tim,Delivery Manager,12-Jan-1990,Delivery,22.0

In [149]:
# Left Join
Query_string = """ select * from Emp_df a LEFT JOIN Dept_df b ON  a.Empid = b.Empid;"""
sqldf(Query_string, globals())

,Empid,Name,Designation,Date_of_joining,Empid,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,1011.0,Management,18.0
1,1012,Rahul,Research Engineer,23-sep-2006,NaN,None,NaN
2,1013,Rick,Research Engineer,11-Jan-2012,1013.0,Research,10.0
3,1014,Morty,VP,21-Jan-1991,NaN,None,NaN
4,1015,Tim,Delivery Manager,12-Jan-1990,1015.0,Delivery,22.0

In [151]:
# Right Join
pd.merge(Emp_df, Dept_df,left_on='Empid',right_on='Empid', how='right')

,Empid,Name,Designation,Date_of_joining,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,Management,18
1,1013,Rick,Research Engineer,11-Jan-2012,Research,10
2,1015,Tim,Delivery Manager,12-Jan-1990,Delivery,22
3,1017,NaN,NaN,NaN,Research,10
4,1019,NaN,NaN,NaN,Management,28

In [155]:
# Right Join
Query_string = """ select a.Empid,Name,Designation,Date_of_joining,Deptartment,Total_Experience from Dept_df a LEFT JOIN Emp_df b ON  a.Empid = b.Empid;"""
sqldf(Query_string, globals())

,Empid,Name,Designation,Date_of_joining,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,Management,18
1,1017,None,None,None,Research,10
2,1013,Rick,Research Engineer,11-Jan-2012,Research,10
3,1019,None,None,None,Management,28
4,1015,Tim,Delivery Manager,12-Jan-1990,Delivery,22

##### Note : Exact resulting OUTER join is not currenlty supported in SQL lite, Below snippet is equivalent one

In [156]:
# Outer Join
pd.merge(Emp_df, Dept_df,left_on='Empid',right_on='Empid', how='outer')

,Empid,Name,Designation,Date_of_joining,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,Management,18.0
1,1012,Rahul,Research Engineer,23-sep-2006,NaN,NaN
2,1013,Rick,Research Engineer,11-Jan-2012,Research,10.0
3,1014,Morty,VP,21-Jan-1991,NaN,NaN
4,1015,Tim,Delivery Manager,12-Jan-1990,Delivery,22.0
5,1017,NaN,NaN,NaN,Research,10.0
6,1019,NaN,NaN,NaN,Management,28.0

In [165]:
# OUTER join 
Query_string = """ select * from Emp_df a left OUTER JOIN Dept_df b ON  a.Empid = b.Empid;"""
sqldf(Query_string, globals())

,Empid,Name,Designation,Date_of_joining,Empid,Deptartment,Total_Experience
0,1011,John,Manager,01-Jan-2000,1011.0,Management,18.0
1,1012,Rahul,Research Engineer,23-sep-2006,NaN,None,NaN
2,1013,Rick,Research Engineer,11-Jan-2012,1013.0,Research,10.0
3,1014,Morty,VP,21-Jan-1991,NaN,None,NaN
4,1015,Tim,Delivery Manager,12-Jan-1990,1015.0,Delivery,22.0

## Summary of the DataFrame

In [170]:
import pandas as pd
dfsumm = pd.read_csv(r'https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data', names =['Sex',
                           'Length','Diameter', 'Height','Whole weight', 'Shucked weight','Viscera weight', 'Shell weight', 'Rings'])
dfsumm.head(5)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [171]:
dfsumm.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

## Resampling

In [18]:
import pandas as pd
df = pd.read_csv(r'\Data\daily-total-female-births-CA.csv',index_col =0,
                parse_dates=['date'])
df.head(5)

            births
date
1959-01-01      35
1959-01-02      32
1959-01-03      30
1959-01-04      31
1959-01-05      44

In [19]:
df.births.resample('M').mean()

date
1959-01-31    39.129032
1959-02-28    41.000000
1959-03-31    39.290323
1959-04-30    39.833333
1959-05-31    38.967742
1959-06-30    40.400000
1959-07-31    41.935484
1959-08-31    43.580645
1959-09-30    48.200000
1959-10-31    44.129032
1959-11-30    45.000000
1959-12-31    42.387097
Freq: M, Name: births, dtype: float64

In [20]:
df.births.resample('Q').mean()

date
1959-03-31    39.766667
1959-06-30    39.725275
1959-09-30    44.532609
1959-12-31    43.826087
Freq: Q-DEC, Name: births, dtype: float64

In [21]:
df.births.resample('Y').mean()

date
1959-12-31    41.980822
Freq: A-DEC, Name: births, dtype: float64

In [23]:
df.births.resample('W').mean()

date
1959-01-04    32.000000
1959-01-11    37.714286
1959-01-18    44.285714
1959-01-25    41.142857
1959-02-01    35.142857
1959-02-08    40.428571
1959-02-15    42.857143
1959-02-22    42.428571
1959-03-01    40.000000
1959-03-08    39.428571
1959-03-15    36.571429
1959-03-22    40.857143
1959-03-29    39.142857
1959-04-05    41.142857
1959-04-12    37.857143
1959-04-19    37.285714
1959-04-26    40.142857
1959-05-03    42.285714
1959-05-10    39.000000
1959-05-17    37.428571
1959-05-24    42.142857
1959-05-31    39.000000
1959-06-07    42.142857
1959-06-14    39.857143
1959-06-21    37.714286
1959-06-28    39.142857
1959-07-05    44.000000
1959-07-12    44.285714
1959-07-19    41.142857
1959-07-26    40.285714
1959-08-02    43.000000
1959-08-09    44.571429
1959-08-16    43.285714
1959-08-23    40.857143
1959-08-30    45.285714
1959-09-06    46.714286
1959-09-13    45.571429
1959-09-20    45.857143
1959-09-27    52.714286
1959-10-04    51.428571
1959-10-11    45.000000
1959-10-18    46.714286
1959-10-25    40.857143
1959-11-01    40.285714
1959-11-08    48.000000
1959-11-15    39.571429
1959-11-22    42.285714
1959-11-29    48.714286
1959-12-06    40.428571
1959-12-13    39.857143
1959-12-20    44.857143
1959-12-27    40.714286
1960-01-03    51.250000
Freq: W-SUN, Name: births, dtype: float64

In [24]:
df.births.resample('SM').mean()

date
1958-12-31    37.642857
1959-01-15    41.375000
1959-01-31    38.533333
1959-02-15    43.384615
1959-02-28    38.000000
1959-03-15    39.812500
1959-03-31    38.333333
1959-04-15    40.666667
1959-04-30    39.133333
1959-05-15    39.625000
1959-05-31    40.800000
1959-06-15    38.600000
1959-06-30    43.733333
1959-07-15    41.375000
1959-07-31    43.733333
1959-08-15    43.250000
1959-08-31    45.333333
1959-09-15    50.266667
1959-09-30    47.800000
1959-10-15    41.312500
1959-10-31    44.466667
1959-11-15    45.133333
1959-11-30    40.933333
1959-12-15    43.875000
1959-12-31    50.000000
Freq: SM-15, Name: births, dtype: float64

## Windowing Function

In [13]:
import pandas as pd
dfExcelwin = pd.read_excel(r'\Data\istambul_stock_exchang.xlsx', sheet_name = 'Data'
                              ,index_col =0,
                parse_dates=['date'])
dfExcelwin.head(5)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802

In [14]:
#rolling Window
dfExcelwin.rolling(window=4).mean().head(10)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-08,-0.007473,-0.010220,-0.005993,-0.004728,-0.003110,-0.004651,0.010624,0.000351,-0.000536
2009-01-09,-0.013946,-0.017400,-0.010206,-0.010244,-0.007261,-0.005770,0.000385,-0.005570,-0.009617
2009-01-12,-0.027600,-0.035943,-0.017858,-0.015739,-0.011734,-0.019070,-0.017807,-0.011518,-0.017468
2009-01-13,-0.016523,-0.029423,-0.009802,-0.015700,-0.006086,-0.023393,-0.007940,-0.010305,-0.013671
2009-01-14,-0.011263,-0.017132,-0.019158,-0.024614,-0.018705,-0.012650,-0.025086,-0.020220,-0.010984
2009-01-15,-0.013563,-0.023863,-0.013443,-0.024533,-0.019112,-0.024143,-0.015066,-0.020491,-0.014891
2009-01-16,-0.000756,-0.005204,-0.005854,-0.019454,-0.016283,-0.005521,-0.000387,-0.015237,-0.006504

In [16]:
#Expanding Window
dfExcelwin.expanding(min_periods=4).mean().head(10)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-08,-0.007473,-0.010220,-0.005993,-0.004728,-0.003110,-0.004651,0.010624,0.000351,-0.000536
2009-01-09,-0.004006,-0.006244,-0.009101,-0.007757,-0.005030,-0.004616,0.006546,-0.001917,-0.001989
2009-01-12,-0.008204,-0.012264,-0.011388,-0.008718,-0.005029,-0.012020,-0.003520,-0.003672,-0.005429
2009-01-13,-0.004825,-0.010551,-0.009510,-0.009998,-0.005188,-0.010303,-0.002507,-0.004894,-0.005343
2009-01-14,-0.009368,-0.013676,-0.012575,-0.014671,-0.010908,-0.008651,-0.007231,-0.009934,-0.005760
2009-01-15,-0.008254,-0.014075,-0.011030,-0.015213,-0.011289,-0.013295,-0.003059,-0.010172,-0.007723
2009-01-16,-0.005224,-0.009440,-0.009174,-0.013013,-0.009531,-0.009420,-0.002267,-0.008298,-0.005859

In [17]:
# .EVM
dfExcelwin.ewm(com=0.5).mean().head(10)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
2009-01-06,0.028008,0.033454,0.004670,0.006890,0.010623,0.003122,0.021987,0.011680,0.013711
2009-01-07,-0.011363,-0.007951,-0.019657,-0.010226,-0.016625,0.012933,-0.018088,-0.008226,-0.009638
2009-01-08,-0.045684,-0.059767,-0.004099,-0.011239,-0.005718,-0.022838,0.013213,-0.006427,-0.016243
2009-01-09,-0.008502,-0.013292,-0.015770,-0.017019,-0.010398,-0.010545,-0.002168,-0.009481,-0.010593
2009-01-12,-0.022313,-0.032698,-0.020478,-0.014687,-0.006812,-0.036242,-0.036670,-0.011464,-0.018628
2009-01-13,0.002871,-0.011071,-0.005648,-0.016679,-0.006365,-0.012070,-0.009830,-0.011968,-0.009423
2009-01-14,-0.026493,-0.027394,-0.024574,-0.037152,-0.036090,-0.002080,-0.030147,-0.034140,-0.008925
2009-01-15,-0.008389,-0.020643,-0.007305,-0.025417,-0.021586,-0.034327,0.010162,-0.019426,-0.018595
2009-01-16,0.011896,0.014638,0.002587,-0.003945,-0.003002,0.005527,0.006632,-0.000768,0.001080

## Shifting

In [21]:
import pandas as pd
dfshift = pd.read_excel(r'\Data\istambul_stock_exchange.xlsx', sheet_name = 'Data'
                              ,index_col =0,
                parse_dates=['date'])
dfshift.head(5)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802

In [25]:
dfshift.shift(periods=3).head(7)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-08,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
2009-01-09,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2009-01-12,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
2009-01-13,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424

In [26]:
dfshift.shift(periods=-1).head(7)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2009-01-06,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
2009-01-07,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
2009-01-08,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
2009-01-09,-0.029191,-0.042361,-0.022823,-0.013526,-0.005026,-0.049039,-0.053849,-0.012451,-0.022630
2009-01-12,0.015445,-0.000272,0.001757,-0.017674,-0.006141,0.000000,0.003572,-0.012220,-0.004827
2009-01-13,-0.041168,-0.035552,-0.034032,-0.047383,-0.050945,0.002912,-0.040302,-0.045220,-0.008677

In [29]:
dfshift.shift(periods=3, axis =1).head(7)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,NaN,NaN,NaN,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000
2009-01-06,NaN,NaN,NaN,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162
2009-01-07,NaN,NaN,NaN,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293
2009-01-08,NaN,NaN,NaN,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061
2009-01-09,NaN,NaN,NaN,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474
2009-01-12,NaN,NaN,NaN,-0.029191,-0.042361,-0.022823,-0.013526,-0.005026,-0.049039
2009-01-13,NaN,NaN,NaN,0.015445,-0.000272,0.001757,-0.017674,-0.006141,0.000000

In [30]:
dfshift.shift(periods=3,fill_value=0).head(7)

,ISE,ISED,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
date,,,,,,,,,
2009-01-05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2009-01-06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2009-01-07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2009-01-08,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
2009-01-09,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2009-01-12,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
2009-01-13,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424

# Handling missing data

In [1]:
import pandas as pd
dfmiss = pd.read_csv(r'\Data\daily-total-female-births-CA-with_nulls.csv',index_col =0,
                parse_dates=['date'])
dfmiss

            births
date
1959-01-01    35.0
1959-01-02    32.0
1959-01-03    30.0
1959-01-04    31.0
1959-01-05    44.0
1959-01-06    29.0
1959-01-07    45.0
1959-01-08     NaN
1959-01-09    38.0
1959-01-10    27.0
1959-01-11    38.0
1959-01-12    33.0
1959-01-13     NaN
1959-01-14    47.0
1959-01-15    45.0
1959-01-16    37.0
1959-01-17    50.0
1959-01-18    43.0
1959-01-19     NaN
1959-01-20    52.0
1959-01-21    34.0
1959-01-22    53.0
1959-01-23    39.0
1959-01-24     NaN
1959-01-25    37.0
1959-01-26    43.0
1959-01-27    39.0
1959-01-28    35.0
1959-01-29    44.0
1959-01-30    38.0
...            ...
1959-12-02    32.0
1959-12-03    46.0
1959-12-04    41.0
1959-12-05    34.0
1959-12-06    33.0
1959-12-07    36.0
1959-12-08    49.0
1959-12-09    43.0
1959-12-10    43.0
1959-12-11    34.0
1959-12-12    39.0
1959-12-13     NaN
1959-12-14    52.0
1959-12-15    47.0
1959-12-16    52.0
1959-12-17    39.0
1959-12-18    40.0
1959-12-19    42.0
1959-12-20    42.0
1959-12-21    53.0
1959-12-22     NaN
1959-12-23    40.0
1959-12-24    38.0
1959-12-25    44.0
1959-12-26    34.0
1959-12-27    37.0
1959-12-28    52.0
1959-12-29    48.0
1959-12-30    55.0
1959-12-31    50.0

[365 rows x 1 columns]

In [2]:
# Snippet to check for nulls
dfmiss.isnull().sum()

births    16
dtype: int64

In [7]:
dfmiss.bfill()

            births
date
1959-01-01    35.0
1959-01-02    32.0
1959-01-03    30.0
1959-01-04    31.0
1959-01-05    44.0
1959-01-06    29.0
1959-01-07    45.0
1959-01-08    38.0
1959-01-09    38.0
1959-01-10    27.0
1959-01-11    38.0
1959-01-12    33.0
1959-01-13    47.0
1959-01-14    47.0
1959-01-15    45.0
1959-01-16    37.0
1959-01-17    50.0
1959-01-18    43.0
1959-01-19    52.0
1959-01-20    52.0
1959-01-21    34.0
1959-01-22    53.0
1959-01-23    39.0
1959-01-24    37.0
1959-01-25    37.0
1959-01-26    43.0
1959-01-27    39.0
1959-01-28    35.0
1959-01-29    44.0
1959-01-30    38.0
...            ...
1959-12-02    32.0
1959-12-03    46.0
1959-12-04    41.0
1959-12-05    34.0
1959-12-06    33.0
1959-12-07    36.0
1959-12-08    49.0
1959-12-09    43.0
1959-12-10    43.0
1959-12-11    34.0
1959-12-12    39.0
1959-12-13    52.0
1959-12-14    52.0
1959-12-15    47.0
1959-12-16    52.0
1959-12-17    39.0
1959-12-18    40.0
1959-12-19    42.0
1959-12-20    42.0
1959-12-21    53.0
1959-12-22    40.0
1959-12-23    40.0
1959-12-24    38.0
1959-12-25    44.0
1959-12-26    34.0
1959-12-27    37.0
1959-12-28    52.0
1959-12-29    48.0
1959-12-30    55.0
1959-12-31    50.0

[365 rows x 1 columns]

In [8]:
dfmiss.ffill()

            births
date
1959-01-01    35.0
1959-01-02    32.0
1959-01-03    30.0
1959-01-04    31.0
1959-01-05    44.0
1959-01-06    29.0
1959-01-07    45.0
1959-01-08    45.0
1959-01-09    38.0
1959-01-10    27.0
1959-01-11    38.0
1959-01-12    33.0
1959-01-13    33.0
1959-01-14    47.0
1959-01-15    45.0
1959-01-16    37.0
1959-01-17    50.0
1959-01-18    43.0
1959-01-19    43.0
1959-01-20    52.0
1959-01-21    34.0
1959-01-22    53.0
1959-01-23    39.0
1959-01-24    39.0
1959-01-25    37.0
1959-01-26    43.0
1959-01-27    39.0
1959-01-28    35.0
1959-01-29    44.0
1959-01-30    38.0
...            ...
1959-12-02    32.0
1959-12-03    46.0
1959-12-04    41.0
1959-12-05    34.0
1959-12-06    33.0
1959-12-07    36.0
1959-12-08    49.0
1959-12-09    43.0
1959-12-10    43.0
1959-12-11    34.0
1959-12-12    39.0
1959-12-13    39.0
1959-12-14    52.0
1959-12-15    47.0
1959-12-16    52.0
1959-12-17    39.0
1959-12-18    40.0
1959-12-19    42.0
1959-12-20    42.0
1959-12-21    53.0
1959-12-22    53.0
1959-12-23    40.0
1959-12-24    38.0
1959-12-25    44.0
1959-12-26    34.0
1959-12-27    37.0
1959-12-28    52.0
1959-12-29    48.0
1959-12-30    55.0
1959-12-31    50.0

[365 rows x 1 columns]

In [9]:
dfmiss.fillna(10)

            births
date
1959-01-01    35.0
1959-01-02    32.0
1959-01-03    30.0
1959-01-04    31.0
1959-01-05    44.0
1959-01-06    29.0
1959-01-07    45.0
1959-01-08    10.0
1959-01-09    38.0
1959-01-10    27.0
1959-01-11    38.0
1959-01-12    33.0
1959-01-13    10.0
1959-01-14    47.0
1959-01-15    45.0
1959-01-16    37.0
1959-01-17    50.0
1959-01-18    43.0
1959-01-19    10.0
1959-01-20    52.0
1959-01-21    34.0
1959-01-22    53.0
1959-01-23    39.0
1959-01-24    10.0
1959-01-25    37.0
1959-01-26    43.0
1959-01-27    39.0
1959-01-28    35.0
1959-01-29    44.0
1959-01-30    38.0
...            ...
1959-12-02    32.0
1959-12-03    46.0
1959-12-04    41.0
1959-12-05    34.0
1959-12-06    33.0
1959-12-07    36.0
1959-12-08    49.0
1959-12-09    43.0
1959-12-10    43.0
1959-12-11    34.0
1959-12-12    39.0
1959-12-13    10.0
1959-12-14    52.0
1959-12-15    47.0
1959-12-16    52.0
1959-12-17    39.0
1959-12-18    40.0
1959-12-19    42.0
1959-12-20    42.0
1959-12-21    53.0
1959-12-22    10.0
1959-12-23    40.0
1959-12-24    38.0
1959-12-25    44.0
1959-12-26    34.0
1959-12-27    37.0
1959-12-28    52.0
1959-12-29    48.0
1959-12-30    55.0
1959-12-31    50.0

[365 rows x 1 columns]

In [10]:
dfmiss.interpolate(method='linear',limit_direction='forward')

            births
date
1959-01-01    35.0
1959-01-02    32.0
1959-01-03    30.0
1959-01-04    31.0
1959-01-05    44.0
1959-01-06    29.0
1959-01-07    45.0
1959-01-08    41.5
1959-01-09    38.0
1959-01-10    27.0
1959-01-11    38.0
1959-01-12    33.0
1959-01-13    40.0
1959-01-14    47.0
1959-01-15    45.0
1959-01-16    37.0
1959-01-17    50.0
1959-01-18    43.0
1959-01-19    47.5
1959-01-20    52.0
1959-01-21    34.0
1959-01-22    53.0
1959-01-23    39.0
1959-01-24    38.0
1959-01-25    37.0
1959-01-26    43.0
1959-01-27    39.0
1959-01-28    35.0
1959-01-29    44.0
1959-01-30    38.0
...            ...
1959-12-02    32.0
1959-12-03    46.0
1959-12-04    41.0
1959-12-05    34.0
1959-12-06    33.0
1959-12-07    36.0
1959-12-08    49.0
1959-12-09    43.0
1959-12-10    43.0
1959-12-11    34.0
1959-12-12    39.0
1959-12-13    45.5
1959-12-14    52.0
1959-12-15    47.0
1959-12-16    52.0
1959-12-17    39.0
1959-12-18    40.0
1959-12-19    42.0
1959-12-20    42.0
1959-12-21    53.0
1959-12-22    46.5
1959-12-23    40.0
1959-12-24    38.0
1959-12-25    44.0
1959-12-26    34.0
1959-12-27    37.0
1959-12-28    52.0
1959-12-29    48.0
1959-12-30    55.0
1959-12-31    50.0

[365 rows x 1 columns]

In [6]:
import numpy as np
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=3)
knnimp_df = imputer.fit_transform(dfmiss)

In [7]:
knnimp_df

array([[35.       ],
       [32.       ],
       [30.       ],
       [31.       ],
       [44.       ],
       [29.       ],
       [45.       ],
       [42.0487106],
       [38.       ],
       [27.       ],
       [38.       ],
       [33.       ],
       [42.0487106],
       [47.       ],
       [45.       ],
       [37.       ],
       [50.       ],
       [43.       ],
       [42.0487106],
       [52.       ],
       [34.       ],
       [53.       ],
       [39.       ],
       [42.0487106],
       [37.       ],
       [43.       ],
       [39.       ],
       [35.       ],
       [44.       ],
       [38.       ],
       [24.       ],
       [23.       ],
       [31.       ],
       [42.0487106],
       [38.       ],
       [50.       ],
       [38.       ],
       [51.       ],
       [31.       ],
       [31.       ],
       [51.       ],
       [36.       ],
       [45.       ],
       [51.       ],
       [34.       ],
       [52.       ],
       [47.       ],
       [45.       ],
       [42.0487106],
       [39.       ],
       [48.       ],
       [37.       ],
       [35.       ],
       [52.       ],
       [42.       ],
       [45.       ],
       [39.       ],
       [37.       ],
       [30.       ],
       [35.       ],
       [28.       ],
       [45.       ],
       [34.       ],
       [42.0487106],
       [50.       ],
       [44.       ],
       [39.       ],
       [32.       ],
       [39.       ],
       [45.       ],
       [43.       ],
       [39.       ],
       [31.       ],
       [27.       ],
       [30.       ],
       [42.0487106],
       [46.       ],
       [41.       ],
       [36.       ],
       [45.       ],
       [46.       ],
       [43.       ],
       [38.       ],
       [34.       ],
       [35.       ],
       [56.       ],
       [36.       ],
       [42.0487106],
       [50.       ],
       [41.       ],
       [39.       ],
       [41.       ],
       [47.       ],
       [34.       ],
       [36.       ],
       [33.       ],
       [35.       ],
       [38.       ],
       [38.       ],
       [34.       ],
       [53.       ],
       [34.       ],
       [34.       ],
       [38.       ],
       [35.       ],
       [42.0487106],
       [42.       ],
       [34.       ],
       [46.       ],
       [30.       ],
       [46.       ],
       [45.       ],
       [54.       ],
       [34.       ],
       [37.       ],
       [35.       ],
       [40.       ],
       [42.       ],
       [58.       ],
       [51.       ],
       [32.       ],
       [35.       ],
       [38.       ],
       [33.       ],
       [39.       ],
       [47.       ],
       [38.       ],
       [52.       ],
       [30.       ],
       [34.       ],
       [40.       ],
       [35.       ],
       [42.       ],
       [41.       ],
       [42.       ],
       [38.       ],
       [24.       ],
       [34.       ],
       [42.0487106],
       [36.       ],
       [55.       ],
       [41.       ],
       [45.       ],
       [41.       ],
       [37.       ],
       [43.       ],
       [39.       ],
       [33.       ],
       [43.       ],
       [40.       ],
       [38.       ],
       [45.       ],
       [46.       ],
       [34.       ],
       [35.       ],
       [48.       ],
       [51.       ],
       [36.       ],
       [33.       ],
       [46.       ],
       [42.       ],
       [48.       ],
       [34.       ],
       [41.       ],
       [35.       ],
       [40.       ],
       [34.       ],
       [30.       ],
       [36.       ],
       [40.       ],
       [39.       ],
       [42.0487106],
       [38.       ],
       [47.       ],
       [33.       ],
       [30.       ],
       [42.       ],
       [43.       ],
       [41.       ],
       [41.       ],
       [59.       ],
       [43.       ],
       [45.       ],
       [38.       ],
       [37.       ],
       [45.       ],
       [42.       ],
       [57.       ],
       [46.       ],
       [51.       ],
       [41.       ],
       [47.       ],
       [26.       ],
       [35.       ],
       [44.       ],
       [41.       ],
       [42.       ],
       [36.       ],
       [45.       ],
       [45.       ],
       [45.       ],
       [47.       ],
       [38.       ],
       [42.       ],
       [35.       ],
       [36.       ],
       [39.       ],
       [45.       ],
       [43.       ],
       [47.       ],
       [36.       ],
       [41.       ],
       [50.       ],
       [39.       ],
       [41.       ],
       [46.       ],
       [64.       ],
       [45.       ],
       [34.       ],
       [38.       ],
       [44.       ],
       [48.       ],
       [46.       ],
       [44.       ],
       [37.       ],
       [39.       ],
       [44.       ],
       [45.       ],
       [33.       ],
       [44.       ],
       [38.       ],
       [46.       ],
       [46.       ],
       [40.       ],
       [39.       ],
       [44.       ],
       [48.       ],
       [50.       ],
       [41.       ],
       [42.       ],
       [51.       ],
       [41.       ],
       [44.       ],
       [42.0487106],
       [68.       ],
       [40.       ],
       [42.       ],
       [51.       ],
       [44.       ],
       [45.       ],
       [36.       ],
       [57.       ],
       [44.       ],
       [42.       ],
       [53.       ],
       [42.       ],
       [34.       ],
       [40.       ],
       [56.       ],
       [44.       ],
       [53.       ],
       [55.       ],
       [39.       ],
       [59.       ],
       [55.       ],
       [73.       ],
       [55.       ],
       [44.       ],
       [43.       ],
       [40.       ],
       [47.       ],
       [51.       ],
       [56.       ],
       [49.       ],
       [54.       ],
       [56.       ],
       [47.       ],
       [44.       ],
       [43.       ],
       [42.       ],
       [45.       ],
       [50.       ],
       [48.       ],
       [43.       ],
       [40.       ],
       [59.       ],
       [41.       ],
       [42.       ],
       [51.       ],
       [49.       ],
       [45.       ],
       [43.       ],
       [42.       ],
       [38.       ],
       [47.       ],
       [38.       ],
       [36.       ],
       [42.       ],
       [35.       ],
       [28.       ],
       [44.       ],
       [36.       ],
       [45.       ],
       [46.       ],
       [48.       ],
       [49.       ],
       [43.       ],
       [42.       ],
       [59.       ],
       [42.0487106],
       [52.       ],
       [46.       ],
       [42.       ],
       [40.       ],
       [40.       ],
       [45.       ],
       [35.       ],
       [35.       ],
       [40.       ],
       [39.       ],
       [33.       ],
       [42.       ],
       [47.       ],
       [51.       ],
       [44.       ],
       [40.       ],
       [57.       ],
       [49.       ],
       [45.       ],
       [49.       ],
       [51.       ],
       [46.       ],
       [44.       ],
       [52.       ],
       [45.       ],
       [32.       ],
       [46.       ],
       [41.       ],
       [34.       ],
       [33.       ],
       [36.       ],
       [49.       ],
       [43.       ],
       [43.       ],
       [34.       ],
       [39.       ],
       [42.0487106],
       [52.       ],
       [47.       ],
       [52.       ],
       [39.       ],
       [40.       ],
       [42.       ],
       [42.       ],
       [53.       ],
       [42.0487106],
       [40.       ],
       [38.       ],
       [44.       ],
       [34.       ],
       [37.       ],
       [52.       ],
       [48.       ],
       [55.       ],
       [50.       ]])