In [1]:
#hacker rank if question
import math
import os
import random
import re
import sys



n = int(input().strip())
if n%2 != 0:
    print("Weird")
elif n in range(2,5):
    print("Not Weird")
elif n in range(6,21):
    print("Weird")
elif n > 20:
    print("Not Weird")

 20

Weird

In [32]:
list(range(6,20))

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
n = int(input().strip())
check = {True: "Not Weird", False: "Weird"}

print(check[n%2==0 and (n in range(2,6) or 
            n > 20)
    ])

 20

Weird

In [38]:
a = int(input())
b = int(input())
print(a+b)
print(b-a)
print(a*b)

 8
 5

13
-3
40

In [39]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i*i)

 5

0
1
4
9
16

In [42]:
n = int(input())
print(*[num**2 for num in range(n)], sep='\n')

 5

0
1
4
9
16

In [58]:
    n = int(input())
    print(*range(1,n+1),sep='')

 5

12345

In [48]:
#finding leap year, defining function

def is_leap(year):
    leap = False
    
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year%4 == 0:
        leap = True
    return leap

year = int(input())
print(is_leap(year))

 2400

True

In [49]:
def is_leap(year):
    return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0)
year = int(input())
print(is_leap(year))

 2000

True

In [64]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]  
primes = [x for x in range(2, 50) if x not in noprimes]  
print (noprimes)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 14, 21, 28, 35, 42, 49]

In [68]:
import numpy

m,n,p = input().split()

print(m,n,p)

a1 = numpy.array([int(i) for i in input().split()])
print(a1)

 5 7 5

5 7 5

 2 3 3 3 3

[2 3 3 3 3]

In [ ]:
# Let's learn about list comprehensions! You are given three integers  and  representing the dimensions of a cuboid along with an integer . Print a list of all possible coordinates given by  on a 3D grid where the sum of  is not equal to . Here, . Please use list comprehensions rather than multiple loops, as a learning exercise.

# Example




# All permutations of  are:
# .

# Print an array of the elements that do not sum to .


# Input Format

# Four integers  and , each on a separate line.

# Constraints

# Print the list in lexicographic increasing order.

In [7]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    output = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k)!=n]
    print(output)

 1
 1
 1
 1

[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

In [16]:
# Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

# Input Format

# The first line contains . The second line contains an array   of  integers each separated by a space.
i = int(input())
lis = list(map(int,input().strip().split()))[:i]  #this ensures that only i elements are taken in the list

z = max(lis)
while max(lis) == z:
    lis.remove(max(lis))

print ((lis))

 5
 1 2 3 5 8 6 5 9 8 6 9 8 6 9 8 3

[1, 2, 3, 5]

In [24]:
# Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

# Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

# Example

# The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

d={} 
for _ in range(int(input())): 
    Name=input() 
    Grade=float(input()) 
    d[Name]=Grade 
v=d.values()
second=sorted(list(set(v)))[1] 
second_lowest=[]
for key,value in d.items():  
    if value==second: 
        second_lowest.append(key) 
second_lowest.sort() 
for name in second_lowest: 
    print (name)

 4
 C
 55.5
 P
 55.5
 M
 99.99
 V
 33.33

C
P

In [25]:
marksheet = []
for _ in range(0,int(input())):
    marksheet.append([input(), float(input())])

second_highest = sorted(list(set([marks for name, marks in marksheet])))[1]
print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest]))

 5
 Cheeku
 55.55
 Pinu
 55.55
 Monu
 99.99
 V
 33.33
 P
 55.55

Cheeku
P
Pinu

In [23]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [45]:
# The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

# Example




# The query_name is 'beta'. beta's average score is .

# Input Format

# The first line contains the integer , the number of students' records. The next  lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

def Average(lst): 
    return (round(sum(lst) / len(lst),2))


n = int(input())
student_marks = {}
# print([*range(n)])
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores

query_name = input()
print("{:.2f}".format(Average(student_marks[query_name])))

 3
 Chiu 55 55 55
 Monu 66 78 99
 Pinu 88 88 88
 Chiu

55.00

In [ ]:
n = int(raw_input())
    student_marks = {}
    for _ in range(n):
        line = raw_input().split()
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        student_marks[name] = scores
    query_name = raw_input()
    query_scores = student_marks[query_name]
    print("{0:.2f}".format(sum(query_scores)/(len(query_scores))))