In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn import preprocessing
import matplotlib.pyplot as plt
tf.random.set_seed(123)

In [2]:
df = pd.read_csv(r'G:\Study and WorkRelated\Book Proposal\book\Code and Data\Data\FB_DL.csv')

In [3]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-01-28,31.879999,32.509998,31.809999,32.470001,32.470001,59682500
1,2013-01-29,32.000000,32.070000,30.709999,30.790001,30.790001,72976500
2,2013-01-30,30.980000,31.490000,30.879999,31.240000,31.240000,87682100
3,2013-01-31,29.150000,31.469999,28.740000,30.980000,30.980000,190744900
4,2013-02-01,31.010000,31.020000,29.629999,29.730000,29.730000,85856700

In [4]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1761.000000,1761.000000,1761.000000,1761.000000,1761.000000,1.761000e+03
mean,118.781840,120.008399,117.500392,118.811113,118.811113,3.095813e+07
std,53.322957,53.748415,52.885288,53.354433,53.354433,2.520860e+07
min,22.990000,23.090000,22.670000,22.900000,22.900000,5.913100e+06
25%,75.589996,76.570000,74.779999,75.739998,75.739998,1.584980e+07
50%,118.629997,119.430000,117.610001,118.669998,118.669998,2.275120e+07
75%,169.820007,171.500000,168.250000,169.919998,169.919998,3.679600e+07
max,222.570007,222.750000,221.279999,222.139999,222.139999,3.654579e+08

In [6]:
def custom_ts_multi_data_prep(dataset, target, start_index, end_index, window, horizon):
    data = []
    labels = []

    start_index = start_index + window
    if end_index is None:
        end_index = len(dataset) - horizon

    for i in range(start_index, end_index):
        indices = range(i-window, i)
        data.append(dataset[indices])

        indicey = range(i+1, i+1+horizon)
        labels.append(target[indicey])
    return np.array(data), np.array(labels)

In [7]:
validate = df[['Open', 'High','Low','Close']].tail(70)
df.drop(df.tail(70).index,inplace=True)

In [8]:
x_scaler = preprocessing.MinMaxScaler()
y_scaler = preprocessing.MinMaxScaler()
dataX = x_scaler.fit_transform(df[['Open', 'High','Low']])
dataY = y_scaler.fit_transform(df[['Close']])

In [9]:
hist_window = 60
horizon = 10
TRAIN_SPLIT = 1000
x_train_multi, y_train_multi = custom_ts_multi_data_prep(
    dataX, dataY, 0, TRAIN_SPLIT, hist_window, horizon)
x_val_multi, y_val_multi= custom_ts_multi_data_prep(
    dataX, dataY, TRAIN_SPLIT, None, hist_window, horizon)

In [10]:
x_train_multi[0]

array([[0.0461267 , 0.04817674, 0.04770354],
       [0.04674934, 0.04592646, 0.04196242],
       [0.04145696, 0.04296016, 0.04284968],
       [0.03196181, 0.04285787, 0.03168058],
       [0.04161262, 0.04055644, 0.03632567],
       [0.03149483, 0.03124841, 0.02787056],
       [0.02734395, 0.03002096, 0.02802714],
       [0.02983448, 0.0317087 , 0.03126305],
       [0.03175427, 0.03099269, 0.02922756],
       [0.03061277, 0.03109497, 0.03048017],
       [0.02915997, 0.02858896, 0.02802714],
       [0.02428268, 0.02592953, 0.02312109],
       [0.02267421, 0.02674781, 0.02421711],
       [0.02609869, 0.02833324, 0.02787056],
       [0.02869299, 0.02894697, 0.0282881 ],
       [0.02718829, 0.03063469, 0.02844468],
       [0.03076843, 0.03048125, 0.02954071],
       [0.02744773, 0.0279241 , 0.02338205],
       [0.02402325, 0.02321894, 0.02165971],
       [0.02163649, 0.02327008, 0.02338205],
       [0.02267421, 0.02234951, 0.02103341],
       [0.02257044, 0.0217358 , 0.02066805],
       [0.01997613, 0.02153122, 0.01915449],
       [0.02106573, 0.02572496, 0.02160751],
       [0.02474965, 0.02541809, 0.02489562],
       [0.02537228, 0.02603181, 0.02369519],
       [0.02651378, 0.02577609, 0.02442589],
       [0.02376381, 0.02858896, 0.02505219],
       [0.02822602, 0.02751495, 0.02640919],
       [0.0260468 , 0.02838439, 0.02693111],
       [0.02651378, 0.02674781, 0.02573069],
       [0.02402325, 0.02332123, 0.02218163],
       [0.02132517, 0.02219608, 0.0217119 ],
       [0.02096197, 0.02030379, 0.02030271],
       [0.01753749, 0.01892293, 0.01623174],
       [0.01836767, 0.0194855 , 0.01847599],
       [0.01914596, 0.0184115 , 0.01623174],
       [0.01385358, 0.01544521, 0.0150835 ],
       [0.01457998, 0.01493377, 0.01544885],
       [0.01432055, 0.01385976, 0.01257829],
       [0.01084419, 0.01222319, 0.01231733],
       [0.0104291 , 0.01631464, 0.01069937],
       [0.01608468, 0.01575206, 0.01487474],
       [0.01369791, 0.01432005, 0.01362213],
       [0.01442432, 0.01549635, 0.01372651],
       [0.01473564, 0.0168772 , 0.0158142 ],
       [0.01883464, 0.02117322, 0.01795408],
       [0.02007991, 0.02408837, 0.02056368],
       [0.02179215, 0.0210198 , 0.02066805],
       [0.01862709, 0.01943435, 0.01957202],
       [0.0208582 , 0.02429295, 0.02207724],
       [0.02329684, 0.02562267, 0.02390397],
       [0.02599492, 0.02511124, 0.02385177],
       [0.02163649, 0.0224518 , 0.01925888],
       [0.01982047, 0.02055951, 0.01946764],
       [0.0189903 , 0.0210198 , 0.01941544],
       [0.01987236, 0.01907636, 0.01294363],
       [0.01364604, 0.01467805, 0.01388309],
       [0.01463186, 0.01672378, 0.0158142 ],
       [0.01675919, 0.01657035, 0.01617954]])

In [11]:
y_train_multi[0]

array([[0.01664953],
       [0.02029805],
       [0.02096608],
       [0.02502569],
       [0.02327852],
       [0.03119218],
       [0.02780061],
       [0.02399794],
       [0.02050359],
       [0.02168551]])

In [12]:
BATCH_SIZE = 128
BUFFER_SIZE = 150

train_data_multi = tf.data.Dataset.from_tensor_slices((x_train_multi, y_train_multi))
train_data_multi = train_data_multi.cache().shuffle(BUFFER_SIZE).batch(BATCH_SIZE).repeat()

val_data_multi = tf.data.Dataset.from_tensor_slices((x_val_multi, y_val_multi))
val_data_multi = val_data_multi.batch(BATCH_SIZE).repeat()

In [13]:
simple_GRU_model = tf.keras.models.Sequential([
    tf.keras.layers.GRU(100, input_shape=x_train_multi.shape[-2:],return_sequences=True),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.GRU(units=50,return_sequences=False),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(units=horizon),
])
simple_GRU_model.compile(optimizer='adam', loss='mse')

In [14]:
model_path = r'G:\Study and WorkRelated\Book Proposal\book\Code and Data\Section 3\Chapter 6\GRU_Multivariate.h5'

In [15]:
EVALUATION_INTERVAL = 100
EPOCHS = 150
history = simple_GRU_model.fit(train_data_multi, epochs=EPOCHS,steps_per_epoch=EVALUATION_INTERVAL,validation_data=val_data_multi, validation_steps=50,verbose =1,
                              callbacks =[tf.keras.callbacks.EarlyStopping(monitor='val_loss', min_delta=0, patience=10, verbose=1, mode='min'),tf.keras.callbacks.ModelCheckpoint(model_path,monitor='val_loss', save_best_only=True, mode='min', verbose=0)])

Train for 100 steps, validate for 50 steps
Epoch 1/150
100/100 [==============================] - 9s 95ms/step - loss: 0.0095 - val_loss: 0.0040
Epoch 2/150
100/100 [==============================] - 2s 16ms/step - loss: 0.0038 - val_loss: 0.0025
Epoch 3/150
100/100 [==============================] - 2s 15ms/step - loss: 0.0027 - val_loss: 0.0022
Epoch 4/150
100/100 [==============================] - 1s 15ms/step - loss: 0.0022 - val_loss: 0.0023
Epoch 5/150
100/100 [==============================] - 2s 17ms/step - loss: 0.0019 - val_loss: 0.0021
Epoch 6/150
100/100 [==============================] - 2s 16ms/step - loss: 0.0016 - val_loss: 0.0020
Epoch 7/150
100/100 [==============================] - 1s 14ms/step - loss: 0.0015 - val_loss: 0.0033
Epoch 8/150
100/100 [==============================] - 1s 15ms/step - loss: 0.0014 - val_loss: 0.0024
Epoch 9/150
100/100 [==============================] - 1s 15ms/step - loss: 0.0012 - val_loss: 0.0023
Epoch 10/150
100/100 [==============================] - 2s 15ms/step - loss: 0.0012 - val_loss: 0.0019
Epoch 11/150
100/100 [==============================] - 1s 15ms/step - loss: 0.0012 - val_loss: 0.0020
Epoch 12/150
100/100 [==============================] - 1s 15ms/step - loss: 9.8716e-04 - val_loss: 0.0020
Epoch 13/150
100/100 [==============================] - 1s 15ms/step - loss: 9.4589e-04 - val_loss: 0.0020
Epoch 14/150
100/100 [==============================] - 2s 15ms/step - loss: 0.0010 - val_loss: 0.0019
Epoch 15/150
100/100 [==============================] - 1s 14ms/step - loss: 9.2101e-04 - val_loss: 0.0039
Epoch 16/150
100/100 [==============================] - 1s 15ms/step - loss: 9.9943e-04 - val_loss: 0.0021
Epoch 17/150
100/100 [==============================] - 1s 15ms/step - loss: 8.3728e-04 - val_loss: 0.0023
Epoch 18/150
100/100 [==============================] - 2s 15ms/step - loss: 7.7394e-04 - val_loss: 0.0018
Epoch 19/150
100/100 [==============================] - 1s 15ms/step - loss: 9.2705e-04 - val_loss: 0.0020
Epoch 20/150
100/100 [==============================] - 1s 15ms/step - loss: 7.2337e-04 - val_loss: 0.0019
Epoch 21/150
100/100 [==============================] - 1s 15ms/step - loss: 7.2197e-04 - val_loss: 0.0025
Epoch 22/150
100/100 [==============================] - 1s 15ms/step - loss: 0.0010 - val_loss: 0.0024
Epoch 23/150
100/100 [==============================] - 1s 15ms/step - loss: 7.0427e-04 - val_loss: 0.0029
Epoch 24/150
100/100 [==============================] - 2s 15ms/step - loss: 6.7771e-04 - val_loss: 0.0019
Epoch 25/150
100/100 [==============================] - 1s 15ms/step - loss: 6.6446e-04 - val_loss: 0.0026
Epoch 26/150
100/100 [==============================] - 1s 15ms/step - loss: 6.6307e-04 - val_loss: 0.0021
Epoch 27/150
100/100 [==============================] - 2s 15ms/step - loss: 7.3073e-04 - val_loss: 0.0018
Epoch 28/150
100/100 [==============================] - 2s 15ms/step - loss: 6.8407e-04 - val_loss: 0.0020
Epoch 29/150
100/100 [==============================] - 2s 15ms/step - loss: 8.2076e-04 - val_loss: 0.0018
Epoch 30/150
100/100 [==============================] - 1s 15ms/step - loss: 6.2596e-04 - val_loss: 0.0020
Epoch 31/150
100/100 [==============================] - 1s 15ms/step - loss: 6.6258e-04 - val_loss: 0.0019
Epoch 32/150
100/100 [==============================] - 1s 15ms/step - loss: 7.8234e-04 - val_loss: 0.0026
Epoch 33/150
100/100 [==============================] - 1s 15ms/step - loss: 7.1085e-04 - val_loss: 0.0033
Epoch 34/150
100/100 [==============================] - 1s 15ms/step - loss: 0.0011 - val_loss: 0.0021
Epoch 35/150
100/100 [==============================] - 1s 15ms/step - loss: 0.0015 - val_loss: 0.0143
Epoch 36/150
100/100 [==============================] - 2s 15ms/step - loss: 9.0577e-04 - val_loss: 0.0024
Epoch 37/150
100/100 [==============================] - 1s 15ms/step - loss: 5.4882e-04 - val_loss: 0.0032
Epoch 38/150
100/100 [==============================] - 1s 15ms/step - loss: 5.6348e-04 - val_loss: 0.0024
Epoch 39/150
100/100 [==============================] - 1s 15ms/step - loss: 5.3970e-04 - val_loss: 0.0025
Epoch 00039: early stopping

In [16]:
Trained_model = tf.keras.models.load_model(r'G:\Study and WorkRelated\Book Proposal\book\Code and Data\Section 3\Chapter 6\GRU_Multivariate.h5')

In [17]:
# Show the model architecture
Trained_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
gru (GRU)                    (None, 60, 100)           31500
_________________________________________________________________
dropout (Dropout)            (None, 60, 100)           0
_________________________________________________________________
gru_1 (GRU)                  (None, 50)                22800
_________________________________________________________________
dropout_1 (Dropout)          (None, 50)                0
_________________________________________________________________
dense (Dense)                (None, 10)                510
=================================================================
Total params: 54,810
Trainable params: 54,810
Non-trainable params: 0
_________________________________________________________________

In [24]:
validatehist = validate[['Open', 'High','Low']].head(60)
validatehori = validate[['Open', 'High','Low','Close']].tail(10)

In [25]:
validatehist

            Open        High         Low
1691  183.800003  190.380005  183.660004
1692  188.320007  189.699997  186.899994
1693  190.300003  190.839996  188.770004
1694  190.229996  191.490005  183.919998
1695  187.039993  189.910004  186.750000
1696  190.000000  190.649994  181.500000
1697  182.009995  186.380005  182.000000
1698  184.619995  186.729996  182.800003
1699  185.830002  189.000000  185.089996
1700  187.199997  189.529999  185.080002
1701  191.690002  192.529999  188.470001
1702  189.559998  190.449997  185.979996
1703  196.699997  198.089996  188.250000
1704  192.850006  194.110001  189.910004
1705  194.550003  197.369995  193.809998
1706  195.369995  195.750000  193.600006
1707  194.029999  194.369995  191.350006
1708  191.910004  193.440002  189.470001
1709  190.000000  192.339996  189.699997
1710  189.929993  190.080002  188.539993
1711  190.000000  195.059998  189.740005
1712  194.699997  195.699997  192.740005
1713  192.929993  194.029999  191.449997
1714  194.259995  195.300003  193.380005
1715  194.559998  198.630005  193.050003
1716  197.399994  200.000000  196.860001
1717  198.580002  199.589996  195.429993
1718  197.419998  199.089996  196.860001
1719  198.380005  199.300003  197.619995
1720  199.520004  200.970001  199.250000
1721  200.000000  200.149994  198.039993
1722  199.899994  203.139999  199.419998
1723  201.600006  203.800003  201.210007
1724  202.130005  202.179993  198.050003
1725  197.600006  198.929993  195.080002
1726  200.000000  200.029999  198.050003
1727  199.860001  201.289993  198.210007
1728  200.500000  201.570007  200.059998
1729  200.649994  203.139999  200.210007
1730  201.660004  202.050003  200.149994
1731  200.279999  202.630005  200.279999
1732  202.350006  203.660004  194.100006
1733  196.399994  196.800003  193.169998
1734  195.270004  199.119995  194.809998
1735  198.839996  199.000000  196.130005
1736  200.089996  204.300003  200.089996
1737  202.779999  206.300003  202.509995
1738  207.479996  207.710007  203.429993
1739  206.699997  208.589996  205.679993
1740  206.300003  206.789993  205.000000
1741  205.570007  207.820007  205.309998
1742  208.669998  208.929993  206.589996
1743  207.860001  207.899994  203.899994
1744  204.000000  205.559998  203.600006
1745  206.750000  209.789993  206.270004
1746  207.210007  210.399994  206.949997
1747  206.699997  212.779999  206.520004
1748  212.820007  214.580002  211.750000
1749  213.000000  216.240005  212.610001
1750  217.539993  218.380005  216.279999

In [26]:
validatehist_x = x_scaler.fit_transform(validatehist[['Open', 'High','Low']])
#dataY = y_scaler.fit_transform(df[['Close']])

In [27]:
val_rescaled = validatehist_x.reshape(1, validatehist_x.shape[0], validatehist_x.shape[1])

In [28]:
Predicted_results = Trained_model.predict(val_rescaled)

In [29]:
Predicted_results

array([[0.85437167, 0.825097  , 0.85728365, 0.8246887 , 0.83759046,
        0.83964086, 0.84814143, 0.8378514 , 0.8242008 , 0.8411345 ]],
      dtype=float32)

In [30]:
Predicted_results_Inv_trans = y_scaler.inverse_transform(Predicted_results)

In [31]:
Predicted_results_Inv_trans

array([[189.16072, 183.46388, 189.7274 , 183.38441, 185.8951 , 186.29411,
        187.94832, 185.94588, 183.28947, 186.58476]], dtype=float32)

In [32]:
validatehori

            Open        High         Low       Close
1751  219.199997  219.880005  217.419998  218.059998
1752  219.600006  221.970001  219.210007  221.910004
1753  221.610001  222.380005  218.630005  219.059998
1754  220.610001  221.679993  220.139999  221.149994
1755  222.570007  222.630005  220.389999  221.770004
1756  222.029999  222.289993  220.529999  222.139999
1757  222.160004  222.369995  219.119995  221.440002
1758  222.309998  222.750000  221.279999  221.320007
1759  220.750000  221.490005  219.270004  219.759995
1760  220.800003  221.779999  216.110001  217.940002

In [33]:
from sklearn import metrics
def timeseries_evaluation_metrics_func(y_true, y_pred):
    
    def mean_absolute_percentage_error(y_true, y_pred): 
        y_true, y_pred = np.array(y_true), np.array(y_pred)
        return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
    print('Evaluation metric results:-')
    print(f'MSE is : {metrics.mean_squared_error(y_true, y_pred)}')
    print(f'MAE is : {metrics.mean_absolute_error(y_true, y_pred)}')
    print(f'RMSE is : {np.sqrt(metrics.mean_squared_error(y_true, y_pred))}')
    print(f'MAPE is : {mean_absolute_percentage_error(y_true, y_pred)}')
    #print(f'R2 is : {metrics.r2_score(y_true, y_pred)}',end='\n\n')

In [34]:
timeseries_evaluation_metrics_func(validatehori['Close'],Predicted_results_Inv_trans[0])

Evaluation metric results:-
MSE is : 1185.8121076487512
MAE is : 34.28559417207031
RMSE is : 34.43562265516265
MAPE is : 15.544881990813813